WaarpProxyR66/src/main/xample/R66-LimitTypes-Proxy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:fg="http://www.FGolubov.com/XMLEditor"
    elementFormDefault="qualified" >

    <xsd:include schemaLocation="R66-GlobalTypes.xsd" />

    <xsd:notation
        name="versionLimit"
        public="2.4.10"
        system="2.4.10" />

    <xsd:complexType name="LimitType" >
        <xsd:all>
            <xsd:element
                name="serverthread"
                default="8"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Number of Threads on Server side (=Number of Cores)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Number of Threads on Server side (=Number of Cores)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="clientthread"
                default="80"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Number of Threads on Client side (=Server+1)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Number of Threads on Client side (=10xServer)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="memorylimit"
                default="4000000000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Memory Limit for R66 Server Java Process" />
                    </xsd:appinfo>
                    <xsd:documentation>
Memory Limit for R66 Server Java Process
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="sessionlimit"
                default="8388608"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Bandwidth for one session (64Mb)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Bandwidth for one session (64Mb)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="globallimit"
                default="67108864"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Global Bandwidth (512Mb)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Global Bandwidth (512Mb)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delaylimit"
                default="10000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay between 2 checks of Bandwidth (10s). The less this value, the better the bandwidth limitation is done. However take care to not give too low value" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay between 2 checks of Bandwidth (10s). The less this value, the better the bandwidth limitation is done. However take care to not give too low value
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delayretry"
                default="30000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay between 2 attemps in case of error (30s)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay between 2 attemps in case of error (30s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="timeoutcon"
                default="30000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay before a Time Out occurs (30s)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay before a Time Out occurs (30s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usecpulimit"
                default="False"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of CPU Limitation when new request starts" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of CPU Limitation when new request starts
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usejdkcpulimit"
                default="False"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of CPU limitation based on Native JDK support, else (False) on Java Sysmon library" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of CPU limitation based on Native JDK support, else (False) on Java Sysmon library
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="cpulimit"
                default="0.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Limit of CPU usage in percentage from 0 to 1" />
                    </xsd:appinfo>
                    <xsd:documentation>
Limit of CPU usage in percentage from 0 to 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="connlimit"
                default="0"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Limit of concurrent connections usage from 0" />
                    </xsd:appinfo>
                    <xsd:documentation>
Limit of concurrent connections usage from 0
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="lowcpulimit"
                default="0.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Low Limit of CPU usage in percentage from 0 to 1" />
                    </xsd:appinfo>
                    <xsd:documentation>
Low Limit of CPU usage in percentage from 0 to 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="highcpulimit"
                default="0.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="High Limit of CPU usage in percentage from 0 to 1, 0 meaning no throttle activated" />
                    </xsd:appinfo>
                    <xsd:documentation>
High Limit of CPU usage in percentage from 0 to 1, 0 meaning no throttle activated
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="percentdecrease"
                default="0.25"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Decrease/Increase of bandwidth when limits are reached in percentage from 0 to 1" />
                    </xsd:appinfo>
                    <xsd:documentation>
Decrease/Increase of bandwidth when limits are reached in percentage from 0 to 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delaythrottle"
                default="1000"
                maxOccurs="1"
                minOccurs="0" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay in ms, minimal as 500ms, best around 1000ms" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay in ms, minimal as 500ms, best around 1000ms
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="nonNegInteger" >
                        <xsd:pattern value="\d{3,}" >
                        </xsd:pattern>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element
                name="limitlowbandwidth"
                default="4096"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Low Limit of Bandwidth when decreasing from 4096" />
                    </xsd:appinfo>
                    <xsd:documentation>
Low Limit of Bandwidth when decreasing from 4096
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="checkversion"
                default="True"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="New protocol extension using checkversion to check the compatibility" />
                    </xsd:appinfo>
                    <xsd:documentation>
New protocol extension using checkversion to check the compatibility
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>