WaarpGatewayFtp/src/main/Xample/Gg-FTPExec.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fg="http://www.FGolubov.com/XMLEditor" elementFormDefault="qualified">
  <xsd:notation name="version" system="2.1.2" public="2.1.2"/>
  <xsd:simpleType name="booleanType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info editor-class="com.fg.ftreenodes.FCheckBox">
					<fg:param>True</fg:param>
					<fg:param>False</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="True"/>
			<xsd:enumeration value="False"/>
		</xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="decimalType">
    <xsd:restriction base="xsd:double"/>
  </xsd:simpleType>
  <xsd:simpleType name="nonNegInteger">
    <xsd:restriction base="xsd:nonNegativeInteger"/>
  </xsd:simpleType>
  <xsd:simpleType name="nonNulInteger">
    <xsd:restriction base="xsd:positiveInteger"/>
  </xsd:simpleType>
  <xsd:simpleType name="nonEmptyString">
    <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="address">
    <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="normString">
    <xsd:restriction base="xsd:normalizedString">
        <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="pathType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info
					editor-id="FileDialog" 
					message="Any File">
					<fg:param>|2Any files: *.*</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
  </xsd:simpleType>
  <xsd:simpleType name="directoryType">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info 
                    editor-id="FileDialog"
                    message="Directory"> 
					<fg:param>|1Directory: *</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
    </xsd:simpleType>
    <xsd:simpleType name="JKS-File">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info
					editor-id="FileDialog" 
					message="JKS KeyStore File">
					<fg:param>jks|jeks|0JKS Keystore files: *.jks, *.jeks</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
	</xsd:simpleType>
    <xsd:simpleType name="XML-File">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info
					editor-id="FileDialog" 
					message="XML File">
					<fg:param>xml|0XML files: *.xml</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
	</xsd:simpleType>
    <xsd:simpleType name="Des-File">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info
					editor-id="FileDialog" 
					message="Des Blowfish Key File">
                    <fg:param>des|blf|0Des Blowfish Key files: *.des, *.blf</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
	</xsd:simpleType>
    <xsd:simpleType name="SODLL-File">
		<xsd:annotation>
			<xsd:appinfo>
				<fg:node-info
					editor-id="FileDialog" 
					message="SO or DLL File">
					<fg:param>so|dll|0SO or DLL files: *.so, *.dll</fg:param>
				</fg:node-info>
			</xsd:appinfo>
		</xsd:annotation>
        <xsd:restriction base="nonEmptyString"/>
	</xsd:simpleType>
	            <xsd:group name="KeyStore">
                 <xsd:sequence>
				  <xsd:element name="keypath" type="JKS-File">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="JKS KeyStore for R66 Access in SSL Mode (containing Server Certificate)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="keystorepass" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for the KeyStore"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="keypass" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for the Server Certificate within the KeyStore"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                 </xsd:sequence>
            </xsd:group>
            <xsd:group name="TrustKeyStore">
                 <xsd:sequence>
				  <xsd:element name="trustkeypath" type="JKS-File">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="JKS Trust KeyStore for R66 Access in SSL Mode with Client Authentication (containing Client Certificate)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="trustkeystorepass" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for the Trust KeyStore"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                 </xsd:sequence>
            </xsd:group>
	
            <xsd:group name="AdministratorKeyStore">
                 <xsd:sequence>
				  <xsd:element name="admkeypath" type="JKS-File">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="JKS HTTP KeyStore for Administrator Access in HTTPS Mode (containing Server Certificate)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="admkeystorepass" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for the HTTP KeyStore"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="admkeypass" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for the HTTP Server Certificate within the HTTP KeyStore"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                 </xsd:sequence>
            </xsd:group>
     

	
	
  <xsd:element name="config">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		
        <xsd:element name="identity" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="hostid" type="nonEmptyString">
					<xsd:annotation>
						<xsd:appinfo>
							<fg:node-info exposed="true"/>
                            <fg:node-info message="Host ID for this particular GG FTP Server"/>
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>
				  <xsd:element name="cryptokey" type="Des-File">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Des CryptoKey File containing the key in Des mode for GG passwords"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                <xsd:element name="authentfile" type="XML-File">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Authentication File containing Authentications for partners"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>

        
        <xsd:element name="server" >
			<xsd:complexType>
			  <xsd:sequence>
				  <xsd:element name="uselocalexec" type="booleanType" default="False" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="By default, use the System.exec() but can lead to limitation in performances (JDK limitation). The usage of the GoldenGate LocalExec Daemin tends to reach better performances through execution delegation"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="lexecaddr" type="address" default="127.0.0.1" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Address of LocalExec Daemon"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="lexecport" type="nonNulInteger" default="9999" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Port of LocalExec Daemon"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				<xsd:element name="serveradmin" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Username for Administrator access"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element name="serverpasswd" type="nonEmptyString">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Password for Administrator access using Crypto Key"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				  <xsd:element name="usehttpcomp" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="True if Administrator (HTTPS) will allow HTTP compression"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="httpadmin" type="directoryType" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Home Directory for HTTPS file support for Administrator. If null, no Administrator HTTPS Server will be started."/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                <xsd:group ref="AdministratorKeyStore">
                </xsd:group>
                <xsd:element name="snmpconfig" type="XML-File" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Configuration XML File for SNMP¨service"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<xsd:element name="network" >
			<xsd:complexType>
			  <xsd:sequence>
				<xsd:element name="serverport"  type="nonNulInteger" default="21" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Port used in NON SSL mode"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				  <xsd:element name="serveraddress" type="address" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Address of FTP Service if specific"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				<xsd:element name="portmin" minOccurs="0" maxOccurs="1" type="nonNulInteger" default="1000">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Min Port to used for Passive mode"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element name="portmax" minOccurs="0" maxOccurs="1" type="nonNulInteger" default="65534">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Max Port to used for Passive mode"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element name="serverhttpport" type="nonNulInteger" default="8066" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Port used for monitoring in HTTP mode"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
				<xsd:element name="serverhttpsport" type="nonNulInteger" default="8067" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Port used for Administrator access in HTTPS mode"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>

        <xsd:element name="exec">
			<xsd:complexType>
			  <xsd:sequence>
				  <xsd:element name="retrievecmd" type="normString" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Retrieve Command executed before RETR. Starts with REFUSED (no RETR allowed), EXECUTE path (execute an external command), R66PREPARETRANSFER path (to submit a R66 transfer)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="retrievedelay" type="nonNegInteger" default="0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Retrieve Command execution delay in ms"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="storecmd" type="normString" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Store Command executed before STO,... Starts with REFUSED (no RETR allowed), EXECUTE path (execute an external command), R66PREPARETRANSFER path (to submit a R66 transfer)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="storedelay" type="nonNegInteger" default="0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Store Command execution delay in ms"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
        <xsd:element name="directory" >
			<xsd:complexType>
			  <xsd:sequence>
				  <xsd:element name="serverhome" type="directoryType" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Home Directory for the GoldenGate Ftp Server (relative path to this Home)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>

        <xsd:element name="limit" >
			<xsd:complexType>
			  <xsd:all>
				  <xsd:element name="deleteonabort" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="If True, Delete received files in case of aborted transfer. If False, keep the received part."/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="sessionlimit" type="nonNegInteger" default="0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Bandwidth for one session"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="globallimit" type="nonNegInteger" default="0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Global Bandwidth"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="delaylimit" type="nonNulInteger" default="10000" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Delay between 2 checks of Bandwidth (10s). The less this value, the better the bandwidth limitation is done. However take care to not give too low value"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="serverthread" type="nonNulInteger" default="8" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Number of Threads on Server side (=Number of Cores)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="clientthread" type="nonNulInteger" default="80" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Number of Threads on Client side (=10xServer)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="memorylimit" type="nonNulInteger" default="4000000000" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Memory Limit for GoldenGate Ftp Server Java Process"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="usecpulimit" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Usage of CPU Limitation when new request starts"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="usejdkcpulimit" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Usage of CPU limitation based on Native JDK support, else (False) on Java Sysmon library"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="cpulimit" type="decimalType" default="0.0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Limit of CPU usage in percentage from 0 to 1"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="connlimit" type="nonNegInteger" default="0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Limit of concurrent connections usage from 0"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="lowcpulimit" type="decimalType" default="0.0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Low Limit of CPU usage in percentage from 0 to 1"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="highcpulimit" type="decimalType" default="0.0" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="High Limit of CPU usage in percentage from 0 to 1, 0 meaning no throttle activated"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="percentdecrease" type="decimalType" default="0.25" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Decrease/Increase of bandwidth when limits are reached in percentage from 0 to 1"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="delaythrottle" type="nonNegInteger" default="1000" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Delay in ms, minimal as 500ms, best around 1000ms"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="limitlowbandwidth" type="nonNegInteger" default="4096" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Low Limit of Bandwidth when decreasing from 4096"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="timeoutcon" type="nonNulInteger" default="30000" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Delay before a Time Out occurs (30s)"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="usenio" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Usage of NIO support for the files. According to the JDK, it can enhance the performances"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="usefastmd5" type="booleanType" default="True" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Usage of FastMD5 library. The library greatly improves the performances for the MD5 computations"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="fastmd5" type="SODLL-File" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Library JNI Filepath. If the path is empty, the pure Java version will be used"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="blocksize" type="nonNulInteger" default="65536" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Block size (64Ko). A value between 8 KB to 16 MB is recommanded"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
			  </xsd:all>
			</xsd:complexType>
		</xsd:element>
		
        <xsd:element name="db">
			<xsd:complexType>
			  <xsd:sequence>
				  <xsd:element name="dbdriver" type="address" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="4 types of database are currently supported: oracle, mysql, postgresql, h2"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="dbserver" type="normString" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Connection to the database in JDBC mode (jdbc:type://[host:port]....). Use the database documentation to find the correct syntax for the JDBC connection"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="dbuser" type="address" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Database User"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="dbpasswd" type="nonEmptyString" >
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="Database User's Password"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
		
        <xsd:element name="ssl" minOccurs="0" maxOccurs="1">
			<xsd:complexType>
			  <xsd:sequence>
                <xsd:group ref="KeyStore">
                </xsd:group>
                <xsd:group ref="TrustKeyStore" minOccurs="0" maxOccurs="1">
                </xsd:group>
				  <xsd:element name="trustuseclientauthenticate" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="True if R66 will only allow client through SSL authentication"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="useimplicitftps" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="True if R66 will behave as Implicit FTPS support (native SSL/TLS). Only one of useimplicitftps or useexplicitftps can be True"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
				  <xsd:element name="useexplicitftps" type="booleanType" default="False" minOccurs="0" maxOccurs="1">
                    <xsd:annotation>
                        <xsd:appinfo>
                            <fg:node-info message="True if R66 will behave as Explicit FTPS support (SSL/TLS through AUTH and PROT commands). Only one of useimplicitftps or useexplicitftps can be True"/>
                        </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
			  </xsd:sequence>
			</xsd:complexType>
		</xsd:element>
		
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
