WaarpAdministrator/src/main/waarpr66/xample/OpenR66-Rules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fg="http://www.FGolubov.com/XMLEditor" elementFormDefault="qualified">
	<xsd:include schemaLocation="R66-GlobalTypes.xsd" />
	<xsd:include schemaLocation="R66-RuleTypes.xsd" />
	<xsd:notation name="versionRules" system="2.4.9" public="2.4.9"/>
	
  <xsd:element name="rules">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		
		<xsd:element name="rule" minOccurs="1" maxOccurs="unbounded" type="RuleType" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  
</xsd:schema>
