WaarpAdministrator/src/main/waarpr66/xample/R66-LimitTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:fg="http://www.FGolubov.com/XMLEditor"
    elementFormDefault="qualified" >

    <xsd:include schemaLocation="R66-GlobalTypes.xsd" />

    <xsd:notation
        name="versionLimit"
        public="2.4.10"
        system="2.4.10" />

    <xsd:complexType name="LimitType" >
        <xsd:all>
            <xsd:element
                name="serverthread"
                default="8"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Number of Threads on Server side (=Number of Cores)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Number of Threads on Server side (=Number of Cores)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="clientthread"
                default="80"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Number of Threads on Client side (=10xServer)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Number of Threads on Client side (=10xServer)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="memorylimit"
                default="4000000000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Memory Limit for R66 Server Java Process" />
                    </xsd:appinfo>
                    <xsd:documentation>
Memory Limit for R66 Server Java Process
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="sessionlimit"
                default="8388608"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Bandwidth for one session (64Mb)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Bandwidth for one session (64Mb)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="globallimit"
                default="67108864"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Global Bandwidth (512Mb)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Global Bandwidth (512Mb)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delaylimit"
                default="10000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay between 2 checks of Bandwidth (10s). The less this value, the better the bandwidth limitation is done. However take care to not give too low value" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay between 2 checks of Bandwidth (10s). The less this value, the better the bandwidth limitation is done. However take care to not give too low value
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="runlimit"
                default="10000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Limit by batch of active transfers (10000)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Limit by batch of active transfers (10000)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delaycommand"
                default="5000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay between 2 execution of the Commander (5s)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay between 2 execution of the Commander (5s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delayretry"
                default="30000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay between 2 attemps in case of error (30s)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay between 2 attemps in case of error (30s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="timeoutcon"
                default="30000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay before a Time Out occurs (30s)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay before a Time Out occurs (30s)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="blocksize"
                default="65536"
                maxOccurs="1"
                minOccurs="0" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Block size (64Ko). A value between 8 KB to 16 MB is recommanded" />
                    </xsd:appinfo>
                    <xsd:documentation>
Block size (64Ko). A value between 8 KB to 16 MB is recommanded
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="nonNulInteger" >
                        <xsd:pattern value="\d{4,}" >
                        </xsd:pattern>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element
                name="gaprestart"
                default="30"
                maxOccurs="1"
                minOccurs="0"
                type="nonNulInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Gap to use when restarting a transfer as gap x blocksize" />
                    </xsd:appinfo>
                    <xsd:documentation>
Gap to use when restarting a transfer as gap x blocksize
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usenio"
                default="False"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of NIO support for the files. According to the JDK, it can enhance the performances" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of NIO support for the files. According to the JDK, it can enhance the performances
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usecpulimit"
                default="False"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of CPU Limitation when new request starts" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of CPU Limitation when new request starts
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usejdkcpulimit"
                default="False"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of CPU limitation based on Native JDK support, else (False) on Java Sysmon library" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of CPU limitation based on Native JDK support, else (False) on Java Sysmon library
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="cpulimit"
                default="1.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Limit of CPU usage in percentage from 0 to 1, 1 meaning no limitation" />
                    </xsd:appinfo>
                    <xsd:documentation>
Limit of CPU usage in percentage from 0 to 1, 1 meaning no limitation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="connlimit"
                default="0"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Limit of concurrent connections usage from 0, 0 meaning no limitation" />
                    </xsd:appinfo>
                    <xsd:documentation>
Limit of concurrent connections usage from 0, 0 meaning no limitation
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="lowcpulimit"
                default="0.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Low Limit of CPU usage in percentage from 0 to 1" />
                    </xsd:appinfo>
                    <xsd:documentation>
Low Limit of CPU usage in percentage from 0 to 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="highcpulimit"
                default="0.0"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="High Limit of CPU usage in percentage from 0 to 1, 0 meaning no throttle activated" />
                    </xsd:appinfo>
                    <xsd:documentation>
High Limit of CPU usage in percentage from 0 to 1, 0 meaning no throttle activated
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="percentdecrease"
                default="0.01"
                maxOccurs="1"
                minOccurs="0"
                type="decimalType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Decrease/Increase of bandwidth when limits are reached in percentage from 0 to 1" />
                    </xsd:appinfo>
                    <xsd:documentation>
Decrease/Increase of bandwidth when limits are reached in percentage from 0 to 1
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="delaythrottle"
                default="1000"
                maxOccurs="1"
                minOccurs="0" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Delay in ms, minimal as 500ms, best around 1000ms" />
                    </xsd:appinfo>
                    <xsd:documentation>
Delay in ms, minimal as 500ms, best around 1000ms
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="nonNegInteger" >
                        <xsd:pattern value="\d{3,}" >
                        </xsd:pattern>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element
                name="limitlowbandwidth"
                default="1000000"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Low Limit of Bandwidth when decreasing from 1000000 (1MB)" />
                    </xsd:appinfo>
                    <xsd:documentation>
Low Limit of Bandwidth when decreasing from 1000000 (1MB)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="digest"
                default="2"
                maxOccurs="1"
                minOccurs="0" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Digest to use, litteral or number: CRC32=0, ADLER32=1, MD5=2, MD2=3, SHA1=4, SHA256=5, SHA384=6, SHA512=7" />
                    </xsd:appinfo>
                    <xsd:documentation>
Digest to use, litteral or number: CRC32=0, ADLER32=1, MD5=2, MD2=3, SHA1=4, SHA256=5, SHA384=6, SHA512=7
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:token" >
                    	<xsd:pattern value="[0-7]|CRC32|ADLER32|MD5|MD2|SHA1|SHA256|SHA384|SHA512|SHA\-1|SHA\-256|SHA\-384|SHA\-512"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element
                name="usefastmd5"
                default="True"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Usage of FastMD5 library. The library greatly improves the performances for the MD5 computations" />
                    </xsd:appinfo>
                    <xsd:documentation>
Usage of FastMD5 library. The library greatly improves the performances for the MD5 computations
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="usethrift"
                default="0"
                maxOccurs="1"
                minOccurs="0"
                type="nonNegInteger" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="If set to less or = 0, will not use Thrift support, if set greater than 0 (preferably greater than 1024) will enable Thrift support on the TCP port specified by this number" />
                    </xsd:appinfo>
                    <xsd:documentation>
If set to less or = 0, will not use Thrift support, if set greater than 0 (preferably greater than 1024) will enable Thrift support on the TCP port specified by this number
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="checkversion"
                default="True"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="New protocol extension using checkversion to check the compatibility" />
                    </xsd:appinfo>
                    <xsd:documentation>
New protocol extension using checkversion to check the compatibility
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="globaldigest"
                default="True"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="Global digest by transfer enable" />
                    </xsd:appinfo>
                    <xsd:documentation>
Global digest by transfer enable
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

</xsd:schema>