WaarpAdministrator/src/main/waarpr66/xample/R66-RuleTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fg="http://www.FGolubov.com/XMLEditor" elementFormDefault="qualified">
	<xsd:include schemaLocation="R66-GlobalTypes.xsd" />
	<xsd:notation name="versionRuleType" system="2.4.9" public="2.4.9"/>
	

	<xsd:group name="Tasks">
		<xsd:sequence>
			<xsd:element name="tasks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="task" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="type">
										<xsd:annotation>
											<xsd:appinfo>
												<fg:node-info
													message="Type of Task: LOG, MOVE, MOVERENAME, COPY, COPYRENAME, EXEC, EXECMOVE, EXECOUTPUT, EXECJAVA, TRANSFER, VALIDFILEPATH, DELETE, LINKRENAME, RESCHEDULE, TAR, ZIP, TRANSCODE, SNMP, FTP" />
											</xsd:appinfo>
											<xsd:documentation>
Type of Task: LOG, MOVE, MOVERENAME, COPY, COPYRENAME, EXEC, EXECMOVE, EXECOUTPUT, EXECJAVA, TRANSFER, VALIDFILEPATH, DELETE, LINKRENAME, RESCHEDULE, TAR, ZIP, TRANSCODE, SNMP, FTP
											</xsd:documentation>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction
												base="xsd:Name">
												<xsd:enumeration
													value="LOG">
												</xsd:enumeration>
												<xsd:enumeration
													value="MOVE">
												</xsd:enumeration>
												<xsd:enumeration
													value="MOVERENAME">
												</xsd:enumeration>
												<xsd:enumeration
													value="COPY">
												</xsd:enumeration>
												<xsd:enumeration
													value="COPYRENAME">
												</xsd:enumeration>
												<xsd:enumeration
													value="EXEC">
												</xsd:enumeration>
												<xsd:enumeration
													value="EXECMOVE">
												</xsd:enumeration>
												<xsd:enumeration
													value="EXECOUTPUT">
												</xsd:enumeration>
												<xsd:enumeration
													value="EXECJAVA">
												</xsd:enumeration>
												<xsd:enumeration
													value="TRANSFER">
												</xsd:enumeration>
												<xsd:enumeration
													value="VALIDFILEPATH">
												</xsd:enumeration>
												<xsd:enumeration
													value="DELETE">
												</xsd:enumeration>
												<xsd:enumeration
													value="LINKRENAME">
												</xsd:enumeration>
												<xsd:enumeration
													value="RESCHEDULE">
												</xsd:enumeration>
												<xsd:enumeration
													value="TAR">
												</xsd:enumeration>
												<xsd:enumeration
													value="ZIP">
												</xsd:enumeration>
												<xsd:enumeration
													value="TRANSCODE">
												</xsd:enumeration>
												<xsd:enumeration value="SNMP">
												</xsd:enumeration>
												<xsd:enumeration value="FTP">
												</xsd:enumeration>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element name="path" type="nonEmptyString">
										<xsd:annotation>
											<xsd:appinfo>
												<fg:node-info
													message="Argument -often a path- applied to the task where substitution can occur like #TRUEFULLPATH#, #FILESIZE#, #RULE#, #DATE#, #TRANSFERID#, ..." />
											</xsd:appinfo>
											<xsd:documentation>Argument -often a path- applied to the task where substitution can occur like #TRUEFULLPATH#, #FILESIZE#, #RULE#, #DATE#, #TRANSFERID#, ...&quot;</xsd:documentation></xsd:annotation>
									</xsd:element>
									<xsd:element name="delay" type="nonNegInteger">
										<xsd:annotation>
											<xsd:appinfo>
												<fg:node-info
													message="Maximum delay for execution of the task in ms" />
											</xsd:appinfo>
											<xsd:documentation>Maximum delay for execution of the task in ms</xsd:documentation></xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>						
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="RuleType" >
		<xsd:sequence>
					<xsd:element name="comment" type="xsd:string" minOccurs="0" maxOccurs="1"/>
					<xsd:element name="idrule" type="nonEmptyString">
						<xsd:annotation>
							<xsd:appinfo>
								<fg:node-info exposed="true" />
								<fg:node-info message="Rule ID" />
							</xsd:appinfo>
							<xsd:documentation>Rule ID</xsd:documentation></xsd:annotation>
					</xsd:element>
					<xsd:element name="hostids">
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of Host Ids allowed to use this rule. No Host Id means all allowed." />
								</xsd:appinfo>
								<xsd:documentation>List of Host Ids allowed to use this rule. No Host Id means all allowed.</xsd:documentation></xsd:annotation>
							<xsd:complexType>
	                      <xsd:sequence>
							<xsd:element name="hostid" type="nonEmptyString" minOccurs="0" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:appinfo>
										<fg:node-info
											message="Host ID allowed to use this rule" />
									</xsd:appinfo>
									<xsd:documentation>Host ID allowed to use this rule</xsd:documentation></xsd:annotation>
							</xsd:element>
	                      </xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="mode" type="nonNulInteger">
						<xsd:annotation>
							<xsd:appinfo>
								<fg:node-info
									message="1=SEND 2=RECV 3=SEND+MD5 4=RECV+MD5 5=SENDTHROUGHMODE 6=RECVTHROUGHMODE 7=SENDMD5THROUGHMODE 8=RECVMD5THROUGHMODE" />
							</xsd:appinfo>
							<xsd:documentation>1=SEND 2=RECV 3=SEND+MD5 4=RECV+MD5 5=SENDTHROUGHMODE 6=RECVTHROUGHMODE 7=SENDMD5THROUGHMODE 8=RECVMD5THROUGHMODE</xsd:documentation></xsd:annotation>
					</xsd:element>
	
					  <xsd:element name="recvpath" type="xsd:token" minOccurs="0" maxOccurs="1" default="IN">
	                    <xsd:annotation>
	                    	<xsd:appinfo>
	                    		<fg:node-info
	                    			message="Default Receive Directory" />
	                    	</xsd:appinfo>
	                    	<xsd:documentation>Default Receive Directory</xsd:documentation></xsd:annotation>
					  </xsd:element>
					  <xsd:element name="sendpath" type="xsd:token" minOccurs="0" maxOccurs="1" default="OUT">
	                    <xsd:annotation>
	                    	<xsd:appinfo>
	                    		<fg:node-info
	                    			message="Default Send Directory" />
	                    	</xsd:appinfo>
	                    	<xsd:documentation>Default Send Directory</xsd:documentation></xsd:annotation>
					  </xsd:element>
					  <xsd:element name="archivepath" type="xsd:token" minOccurs="0" maxOccurs="1" default="ARCH">
	                    <xsd:annotation>
	                    	<xsd:appinfo>
	                    		<fg:node-info
	                    			message="Default Archive Directory" />
	                    	</xsd:appinfo>
	                    	<xsd:documentation>Default Archive Directory</xsd:documentation></xsd:annotation>
					  </xsd:element>
					  <xsd:element name="workpath" type="xsd:token" minOccurs="0" maxOccurs="1" default="WORK">
	                    <xsd:annotation>
	                    	<xsd:appinfo>
	                    		<fg:node-info
	                    			message="Default Working Directory" />
	                    	</xsd:appinfo>
	                    	<xsd:documentation>Default Working Directory</xsd:documentation></xsd:annotation>
					  </xsd:element>
					  <xsd:element name="rpretasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute before transfer on receiver side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute before transfer on receiver side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
					  <xsd:element name="rposttasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute after transfer on receiver side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute after transfer on receiver side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
					  <xsd:element name="rerrortasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute after an error on receiver side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute after an error on receiver side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
					  <xsd:element name="spretasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute before transfer on sender side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute before transfer on sender side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
					  <xsd:element name="sposttasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute after transfer on sender side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute after transfer on sender side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
					  <xsd:element name="serrortasks" minOccurs="0" maxOccurs="1" >
							<xsd:annotation>
								<xsd:appinfo>
									<fg:node-info
										message="List of tasks -if any- to execute after an error on sender side" />
								</xsd:appinfo>
								<xsd:documentation>List of tasks -if any- to execute after an error on sender side</xsd:documentation></xsd:annotation>
							<xsd:complexType>
							<xsd:sequence>
								<xsd:group ref="Tasks">
								</xsd:group>
							</xsd:sequence>
						</xsd:complexType>
					  </xsd:element>
		</xsd:sequence>
  	</xsd:complexType>
  	
</xsd:schema>
