WaarpAdministrator/src/main/waarpr66/xample/R66-SpooledDirectoryTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:fg="http://www.FGolubov.com/XMLEditor"
    elementFormDefault="qualified" >

    <xsd:include schemaLocation="R66-GlobalTypes.xsd" />

    <xsd:notation
        name="versionSpooled"
        public="2.4.22"
        system="2.4.22" />

    <xsd:complexType name="SpooledType" >
        <xsd:sequence>
			<xsd:element
				name="stopfile"
                maxOccurs="1"
                minOccurs="1"
                type="pathType" >
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="The unique stop file" />
                    </xsd:appinfo>
					<xsd:documentation>
The unique stop file
					</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="logWarn"
                maxOccurs="1"
                minOccurs="0"
                type="booleanType" default="True">
                <xsd:annotation>
                    <xsd:appinfo>
                        <fg:node-info message="If True (default) will log as WARN level send and removed files, while False will log it as INFO level." />
                    </xsd:appinfo>
                    <xsd:documentation>
If True (default) will log as WARN level send and removed files, while False will log it as INFO level.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element
                name="spooled"
                maxOccurs="unbounded"
                minOccurs="0" >
                <xsd:annotation>
                    <xsd:documentation>
This will allow to precise SpooledDirectoryTransfer options directly in the configuration file(from version 2.4.22).
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element
                            name="name"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The name of the SpooledDirectory daemon. If not specified, will be host name plus directory names" />
                                </xsd:appinfo>
                                <xsd:documentation>
The name of the SpooledDirectory daemon. If not specified, will be host name plus directory names
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="to"
                            maxOccurs="unbounded"
                            minOccurs="1"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The real host id as target (multiple allowed)" />
                                </xsd:appinfo>
                                <xsd:documentation>
The real host id as target (multiple allowed)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="rule"
                            maxOccurs="1"
                            minOccurs="1"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The rule to use when submitting or transferring the files" />
                                </xsd:appinfo>
                                <xsd:documentation>
The rule to use when submitting or transferring the files
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="statusfile"
                            maxOccurs="1"
                            minOccurs="1"
                            type="pathType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The status file: must be unique" />
                                </xsd:appinfo>
                                <xsd:documentation>
The status file: must be unique
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="directory"
                            maxOccurs="unbounded"
                            minOccurs="1"
                            type="directoryType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The directory to spool (can be multiple)" />
                                </xsd:appinfo>
                                <xsd:documentation>
The directory to spool (can be multiple)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="regex"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The regular expression to filter file names, as .*\.zip$ for zip files" />
                                </xsd:appinfo>
                                <xsd:documentation>
The regular expression to filter file names, as .*\.zip$ for zip files
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="recursive"
							default="True"
                            maxOccurs="1"
                            minOccurs="0"
                            type="booleanType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="Is the scan of the directories recursive?" />
                                </xsd:appinfo>
                                <xsd:documentation>
Is the scan of the directories recursive?
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="elapse"
							default="1000"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonNulInteger" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The interval time in ms used to scan the directories" />
                                </xsd:appinfo>
                                <xsd:documentation>
The interval time in ms used to scan the directories
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="submit"
							default="True"
                            maxOccurs="1"
                            minOccurs="0"
                            type="booleanType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="If true, the daemon will make only submitted transfers, while if false it will make only direct transfers" />
                                </xsd:appinfo>
                                <xsd:documentation>
If true, the daemon will make only submitted transfers, while if false it will make only direct transfers
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="parallel"
							default="True"
                            maxOccurs="1"
                            minOccurs="0"
                            type="booleanType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="If True, all transfers will be done in parallel than information to Waarp servers, else False means that information will be done only after each transfer set." />
                                </xsd:appinfo>
                                <xsd:documentation>
If True, all transfers will be done in parallel than information to Waarp servers, else False means that information will be done only after each transfer set.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="limitParallel"
							default="0"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonNegInteger" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The value will limit the number of concurrent direct transfers. 0 means NO LIMIT, while 1 means sequential." />
                                </xsd:appinfo>
                                <xsd:documentation>
The value will limit the number of concurrent direct transfers. 0 means NO LIMIT, while 1 means sequential.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="info"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The information transmitted with each file found" />
                                </xsd:appinfo>
                                <xsd:documentation>
The information transmitted with each file found
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="md5"
							default="False"
                            maxOccurs="1"
                            minOccurs="0"
                            type="booleanType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The transfer will use digest mode during packet transfer." />
                                </xsd:appinfo>
                                <xsd:documentation>
The transfer will use digest mode during packet transfer.
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="block"
							default="65536"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonNulInteger" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The block size used during the transfer" />
                                </xsd:appinfo>
                                <xsd:documentation>
The block size used during the transfer
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="nolog"
							default="False"
                            maxOccurs="1"
                            minOccurs="0"
                            type="booleanType" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="If true, no trace on database or file will be kept for this transfer on client side (direct mode only)" />
                                </xsd:appinfo>
                                <xsd:documentation>
If true, no trace on database or file will be kept for this transfer on client side (direct mode only)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="waarp"
                            maxOccurs="unbounded"
                            minOccurs="0"
                            type="nonEmptyString" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The host name for which the status of this daemon will be sent. Note that the client must be allowed to use BusinessRequest in the targeted host" />
                                </xsd:appinfo>
                                <xsd:documentation>
The host name for which the status of this daemon will be sent. Note that the client must be allowed to use BusinessRequest in the targeted host
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="elapseWaarp"
							default="5000"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonNegInteger" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The interval time in ms used to inform remote Waarp servers. If set to 0, the information will be done after each directory check, possibly long time, depending on the time spent to submit or directly transfer files" />
                                </xsd:appinfo>
                                <xsd:documentation>
The interval time in ms used to inform remote Waarp servers. If set to 0, the information will be done after each directory check, possibly long time, depending on the time spent to submit or directly transfer files
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element
                            name="minimalSize"
                            default="1"
                            maxOccurs="1"
                            minOccurs="0"
                            type="nonNegInteger" >
                            <xsd:annotation>
                                <xsd:appinfo>
                                    <fg:node-info message="The minimal size of each file that will be transferred (default: 1 byte)" />
                                </xsd:appinfo>
                                <xsd:documentation>
The minimal size of each file that will be transferred (default: 1 byte)
                                </xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>